@using WebShop.App_GlobalResources
@using WebShop.ViewModel
@model IEnumerable<WebShop.Models.Product>
@{
    ViewBag.Title = Locale.Index;
    var categories = ViewData["Categories"] as List<String>;
    var price = ViewData["Price"] as Dictionary<int, int>;
    var lastPrice = 0;
    var searchClassCat = new {@class = "search search-category"};
    var searchClassPrice = new { @class = "search search-price" };
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Locale.Index</h2>
<div class="row searchRow">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input id="searchBox" type="text" class="form-control search-text" placeholder="Search">
        </div>
    </div>
</div>

<div class="row">
    <div>
            <ul class="nav nav-pills">
                    <li><a href="#"><strong>@Locale.Filter_by</strong></a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        @Locale.PriceRange <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <span class="filter">
                                @Html.RadioButton("cat", 0 + ", " + 10000000, searchClassPrice)
                                @Html.Label(Locale.Any)
                            </span>
                        </li>
                        @foreach (var p in price)
                        {
                            <li role="presentation">
                                <span class="filter">
                                    @Html.RadioButton("cat", p.Key + "," + p.Value, searchClassPrice)
                                    @Html.Label(+ p.Key + " - " + p.Value)
                                </span>
                            </li>
                            lastPrice = p.Value;
                        }
                        <li role="presentation">
                            <span class="filter">
                                @Html.RadioButton("cat", lastPrice + ", " + lastPrice*10, searchClassPrice)
                                @Html.Label("> " + lastPrice)
                            </span>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        @Locale.CategoryTitle <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var cat in categories)
                        {
                            <li role="presentation">
                                <span class="filter">
                                    @Html.CheckBox(cat, false, searchClassCat)
                                    @Html.Label(cat)
                                </span>
                            </li>
                        }
                      
                    </ul>
                </li>

            </ul>
           
            <div id="result">
                @Html.Partial("_SearchPartial")
            </div>
        </div>
        <a href="2" id="more" class="btn btn-info">@Locale.MoreResults</a>
    </div>

@Html.Partial("_BasketModal")

@section Scripts {
    @Scripts.Render("~/bundles/webshop")

    <script type="text/javascript">
        (function ($, searchProd, basketUtils) {
            function defaultSearch() {
                searchProd.search(1, true);
            }

            //Make sure dropdown does not go away when clicking
            $(".dropdown-menu input, .dropdown-menu label").click(function (e) {
                e.stopPropagation();
            });

            //For all searches, use a change event.
            $(".search").change(function() {
                defaultSearch();
            });
            //For the text search, use a delay as to not execute searches with every keyup.
            $("#searchBox").bind("input keyup", function () {
                var $this = $(this);
                var delay = 500; // 0.5 seconds delay after last input.

                clearTimeout($this.data("timer"));
                $this.data("timer", setTimeout(function () {
                    $this.removeData("timer");
                    //Execute method after the delay.
                    defaultSearch();
                }, delay));
            });
            //Functionality of more btn.
            $("#more").click(function (e) {
                e.preventDefault();
                searchProd.search($("#more").attr("href"), false);
            });
            $("body").delegate(".add-to-cart", "click", function (e) {
                e.preventDefault();
                basketUtils.addToBasket($(this));
            });
        })(jQuery, webShop.searchProducts, webShop.basketUtils)
    </script>
}


