@using WebShop.App_GlobalResources
@model WebShop.ViewModel.OrderProductList
@{
    ViewBag.Title = Locale.CheckOut_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Locale.CheckOut_Title</h2>

@if (!Model.OrderProductModels.Any())
{
    <p>@Locale.Empty_Basket.</p>
}
else
{
    using (Html.BeginForm(new { id = "form" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <table class="table table-responsive table-striped">
                            <tr>
                                <th>
                                    @Locale.Product_Name
                                </th>
                                <th>
                                    #
                                </th>
                                <th>
                                    @Locale.Subtotal
                                </th>
                                <th></th>
                            </tr>
                            @for (var i = 0; i < Model.OrderProductModels.Count(); ++i)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.OrderProductModels[i].ProductId)
                                        @Html.DisplayFor(m => m.OrderProductModels[i].Product.Name)
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m.OrderProductModels[i].Amount, new { htmlAttributes = new { @class = "form-control amount", @min = "1" } })
                                        <p class="hidden price">@Html.DisplayFor(m => m.OrderProductModels[i].Product.Price)</p>
                                    </td>
                                    <td>
                                        <p class="subTotal">@Html.DisplayFor(m => m.OrderProductModels[i].Total)</p>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" href="@Url.Action("Remove", new { id = Model.OrderProductModels[i].ProductId })"><span class="glyphicon glyphicon-remove"></span>&nbsp;@Locale.Remove</a>
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td colspan="2">
                                    <p class="pull-right">@Locale.Total:</p>
                                </td>
                                <td>
                                    <p class="grandTotal">@Html.DisplayFor(m => m.Total)</p>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="pull-right" style="margin-right: 20px;">
                            <input class="btn btn-success" id="submit" value="@Locale.CheckOut_Title" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/webshop")
    <script type="text/javascript">
        (function ($, utils) {
            var done = false;
            function updateTotal() {
                var total = 0;
                $(".subTotal").each(function () {
                    total = total + parseInt($(this).text());
                });
                $(".grandTotal").text(total);
            }

            function updateSubTotal(element) {
                var price = parseInt(element.next().text());
                var amount = parseInt(element.val());
                var subTotal = element.parent().next().find("p.subTotal");
                subTotal.html(price * amount);
            }

            $(".amount").change(function (e) {
                updateSubTotal($(this));
                updateTotal();
            });
        })(jQuery, webShop.utils)
    </script>
}


