@using WebShop.App_GlobalResources
<div class="modal fade" id="addToBasketModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Locale.Basket</h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">@Locale.BasketModalBody</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Locale.ContinueShopping</button>
                <a href="@Url.Action("CheckOut", "Basket")" class="btn btn-primary">@Locale.CheckOut_Title</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->