@using WebShop.App_GlobalResources
<ul class="nav navbar-nav navbar-right">

    @if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;@User.Identity.Name<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink(@Locale.Profile, "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Profile"})</li>
                <li>@Html.ActionLink(@Locale.My_Orders, "MyOrders", "Orders")</li>
                <li>@Html.ActionLink(@Locale.Log_Out, "LogOff", "Account", routeValues: null, htmlAttributes: new { title = "Log off" })</li>
            </ul>
        </li>
        
    }
    else
    {
        <li>@Html.ActionLink(@Locale.Register, "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink(@Locale.Log_In, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    }

    <li>
        <a href="@Url.Action("Checkout", "Basket")" class="glyphicon glyphicon-shopping-cart"></a>
    </li>
</ul>
