@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right">

    @if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;@User.Identity.Name<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Profile"})</li>
                <li>@Html.ActionLink("My orders", "MyOrders", "Orders")</li>
                <li>@Html.ActionLink("Log off", "LogOff", "Account", routeValues: null, htmlAttributes: new { title = "Log off" })</li>
            </ul>
        </li>
        
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    }

    <li>
        <a href="/Basket/CheckOut" class="glyphicon glyphicon-shopping-cart"></a>
    </li>
</ul>
