@using WebShop.App_GlobalResources
@model IEnumerable<WebShop.Models.Order>

@{
    ViewBag.Title = Locale.My_Orders;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Locale.My_Orders</h2>

@Html.Partial("_ResultMessage")

@if (!Model.Any())
{
    <p>@Locale.No_orders</p>
}
else {
    <table class="table">
        <tr>
            <th>@Locale.Id</th>
            <th>@Locale.Status</th>
            <th>@Locale.Products</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Status)
                </td>
                <td>
                    <ul class="list-group">
                        @foreach (var product in item.OrderProducts)
                        {
                            <li class="list-group-item">@Html.DisplayFor(m => product.Product.Name) (@Html.DisplayFor(m => product.Amount))</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink(Locale.Details, "Details", new { id=item.Id })
                </td>
            </tr>
        }

    </table>
}
