@using WebShop.App_GlobalResources
@model WebShop.ViewModel.IndexViewModel
@{
    ViewBag.Title = Locale.Manage_Account;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Locale.Password</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Locale.Password:</dt>
        <dd>
            [
            @(Model.HasPassword ? Html.ActionLink(Locale.Change_Password, "ChangePassword") : Html.ActionLink(Locale.Create, "SetPassword"))
            ]
        </dd>
    </dl>
    @using (Html.BeginForm("Save", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>@Locale.Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.User.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.User.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User.PhoneNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User.Address.Street, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.Address.Street, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.User.Address.Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User.Address.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.Address.Number, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.User.Address.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.Address.City, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                      @Html.LabelFor(model => model.User.Address.PostalCode, new { @class = "control-label col-md-2" })
                      <div class="col-md-10">
                          @Html.EditorFor(model => model.User.Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.User.Address.PostalCode, "", new { @class = "text-danger" })
                      </div>
                  </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.User.Address.Country, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User.Address.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.Address.Country, "", new { @class = "text-danger" })
                </div>
            </div>
           
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label class="control-label col-md-2">@Locale.Role</label>
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.Roles, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            } 
            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
